<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'/>
        <link rel="stylesheet" href="/javascripts/vendor/kendo/">
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCgR_3pzKYrJbDvY9n5lzuz5VFBdXRjHM"></script>
        <script src="/javascripts/vendor/kendo/jquery.min.js"></script>
        <script src="/javascripts/vendor/kendo/angular.min.js"></script>
        <script src="/javascripts/vendor/angular-route.js"></script>
        <script src="/javascripts/vendor/kendo/kendo.all.min.js"></script>
        <script src="/javascripts/vendor/ng-map.js"></script>
        <script src="/javascripts/app.js"></script>
        <script src="/javascripts/controllers/MapController.js"></script>
    </head>
    <body ng-app="idsp">
        <h1><%= title %></h1>
        <p>Welcome to Integrated Disease Surveillance Programme</p>
        <p>Website under construction...</p>
        <div class="main-div" ng-view>

        </div>
    </body>
</html>
